*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    
}

 body{
   
    justify-content: center; 
     box-sizing: border-box;
     box-sizing: content-box;
    align-items: start;
    min-height: 540px;

    background: url('math5.jpg' ) no-repeat ;
    background-size: cover;
    background-position: center; 
    /* opacity: 0.5; */
    
} 

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    padding: 50px,100px;
    background-color:rgb(40, 154, 193);
    display: flex;
    justify-content: space-between;

    align-items: center;
    z-index: 99;
    padding-right: 3em;
    margin-top: 10px;

}


.navi a{
    position: relative;
    font-size: 1.1em;
    color: rgb(6, 12, 73);
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    font-size: 1.1em;
    align-items: end;

}

.navi a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;

}

.navi a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
    
}
.rohit{
    padding-left: 2px;
    color: rgb(11, 31, 248);
    font-weight: 500;
    font-size: 1.1em;
    text-decoration: none;
    width: 60%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
    align-items: end;
    margin-left: 80px;
    position: relative;
    /* top: 10px; */
    right: 60px;
}

.rohit:hover{
    background-color: #e907a9;
    color: #162938;
}

.info{
    position: relative;
    text-align: center;
    padding-top: 100px;
    width: 100%;
    
    /* padding-right: 10px; */
}
.space{
    color: #e907a9;
}

#myDropdown{
    position: relative;
    height: 42px;
    padding: 10px 15px;
    line-height: 15px;
    font-size: 16px;
    width: 20%;
    color: #100f0f;
    background-color: #1ce655;
    border: 1px solid #e01010;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 100px;
    /* top: 10px; */
    left: 400px;
    /* bottom: 10px; */
    /* appearance: none; */
    /* margin-bottom: 200px; */
    /* padding-bottom: 200px; */
}

#myDropdown:focus,
#myDropdown:hover{
    outline: none;
    border: 1px solid #abd63c;
}

.id{
    height: 42px;
    width: 80px;
    border: 1px solid #162938;
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    margin-left: 420px;
    margin-top: 50px;
    font-size: 0.8em;
    background: #eec613;
}

.id:hover{
    background-color: #161713;
    color: #ebf1f5;
}

.pro{
    margin-left: 360px;
    /* margin-top: 50px; */
    color: #dddddd;
    font-size: 1.2em;
}